#header {
  text-align:center;
}
body {
  background-image: url("https://wi-images.condecdn.net/image/doEYpG6Xd87/crop/2040/f/weather.jpg");
}

div {
  text-align:center;
}

footer {
  margin-top:200px;
  text-align:center;
}

aside {
  text-align:center;
}
